{{- define "main" }}

<header class="page-header">
    <h1>Séries</h1>
</header>

<ul class="terms-tags terms-series">
    {{- range site.Taxonomies.series.ByCount }}
        {{- $count := .Count }}
        {{- with .Page }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }} ({{ $count }})</a>
        </li>
        {{- end }}
    {{- end }}
</ul>

<br/>

<header class="page-header">
    <h1>Étiquettes</h1>
</header>

<ul class="terms-tags">
    {{- range site.Taxonomies.tags.Alphabetical }}
        {{- $count := .Count }}
        {{- with .Page }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }} ({{ $count }})</a>
        </li>
        {{- end }}
    {{- end }}
</ul>

{{- end }}
