<header>
  <a class="site-title link-fx" href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
  <nav aria-label="Navigation principale">
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      <div class="nav-dropdown">
        <a class="link-fx" href="{{ .URL }}"{{ if $.HasMenuCurrent "main" . }} aria-current="true"{{ end }}>{{ .Name }}</a>
        <ul>
          {{ range .Children }}
          <li><a class="link-fx" href="{{ .URL }}"{{ if $.IsMenuCurrent "main" . }} aria-current="page"{{ end }}>{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      {{ else }}
      <a class="link-fx" href="{{ .URL }}"{{ if $.IsMenuCurrent "main" . }} aria-current="page"{{ end }}>{{ .Name }}</a>
      {{ end }}
    {{ end }}
  </nav>
</header>
