{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{ $mymonths := index $.Site.Data.mois }}
{{ $month := index $mymonths (printf "%d" .Date.Month) }}
{{ $dateFR := (printf "%d %s %d" .Date.Day $month .Date.Year) }}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) ($dateFR))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
